DATABASE_URL=your-supabase-postgres-url
SECRET_KEY=replace-with-a-long-random-secret

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=jillydarantinaoarias@gmail.com
SMTP_PASSWORD=xwwvjakbkffsfoxw
SMTP_FROM_EMAIL=jillydarantinaoarias@gmail.com
OTP_EXPIRY_MINUTES=10
